:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --button: #503E33;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("../img/white\ back.jpg"); /* Уточнить нужна ли картинка */
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-navigation{
    font: inherit;
    color: var(--black);
    background-color: transparent;
}

.main-site-navigation {
    list-style: none;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
}

.main-site-navigation li {
    display: inline;
}

.main-site-navigation a:hover,
.main-site-navigation a:focus {
  color: var(--brown);
}

.visually-hidden {
    visibility: hidden;
}

.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.reasons {
    text-align: center;
    font: inherit;
}

.real-town, .devil-bridge {
    background-color: var(--light-blue);
    color: var(--basic-white);
    text-align: center;
    font: inherit;

}

.features {
    list-style: none;
}

.features li {
    text-align: center;
    display: inline-block;
    font: inherit;
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.search-box {
    text-align: center;
    line-height: 24px;
    font: inherit;
}

fieldset legend {
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    background-color: var(--brown);
}

fieldset {
    box-shadow: rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
    border-color: transparent;
}

fieldset input {
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
}

label {
    font-weight: 700;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    vertical-align: middle;
    background-color: var(--light-blue);
    border: none;
}

.contacts li {
    font: inherit;
    list-style: none;
}

.visit {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts-social-networks li {
    font: inherit;
    list-style: none;
    display: inline-block
}

.social-networks-icons {
    background-color: var(--light-blue);
}

.footer-copyright  {
    font: inherit;
}

.hotels li {
    font: inherit;
    list-style: none;
    line-height: 21px;
    
}

.hotels h2 {
    font-size: 21px;
    line-height: 26px;
}

button.more-information {
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    color: var(--basic-white)
}

button.book {
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    color: var(--basic-white)
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--button);
}