:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --hover-blue: #669EC0;
    --focus-blue: #5496BD;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --focus-brown: #503E33;
    --rate: #666666;
    --hover-brown: #604E43;
    --hover-grey: #EBEBEB;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.relative {
    position: relative;
    z-index: 2;
    width: 100%;
}

.welcome {
    z-index: 1;
    position: absolute;
    top: 77px;
    left: 380px;
    width: 457px;
    height: 351px;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
    
.main-site-navigation {
    width: auto;
    margin: 0;
    padding: 0;
    height: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 26px;
    justify-content: space-around;
    background-color: transparent;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
    display: block;
    border: 0;
}

.main-site-navigation a:hover {
  color: var(--light-blue);
}

.main-site-navigation a:focus {
    color: var(--black);
    opacity: 0.3;
}

.main-site-navigation a:active {
    color: var(--brown);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container { 
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.background {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.triangle {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.welcome {
    display: block;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.reasons {
    text-align: center;
    font: inherit;
}

.real-town, .devil-bridge {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    height: 256px;
    margin: 0;
}

.town-description, .bridge-description {
    background-color: var(--light-blue);
    text-align: center;
    color: var(--basic-white);
    font: inherit;
    padding: 0;
    padding-top: 47px;
    width: 400px;
    margin:0;
}

.town-photo, .bridge-photo {
    width: 800px;
    align-items: stretch;
}

.bridge-photo {
    order: -1;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: inherit;
    text-align: center;
    align-items: center;
    min-height: 330px;
    margin: 0;
}


.devil-bridge-features {
    background-color: var(--basic-grey);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font: inherit;
    min-height: 256px;
    margin: 0;
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.search-box {
    text-align: center;
    line-height: 24px;
    font: inherit;
}

.index-form {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.index {
    border: 0;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
}

.search-item-adults {
    background-color: var(--basic-grey);
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: var(--black);
    width: 114px;
    height: 38px;
    margin-left: 41px;
    margin-top: 20px;
    margin-right: 53px;
    padding: 0;
}

.search-item-children {
    background-color: var(--basic-grey);
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: var(--black);
    width: 114px;
    height: 38px;
    margin-left: 27px;
    margin-top: 20px;
    margin-right: 55px;
    padding: 0;

}

.date-arrival-item {
    background-color: var(--basic-grey);
    width: 346px;
    height: 38px;
    margin: 0; 
    padding-left: 12px;
    margin-top: 55px;
    margin-bottom: 29px;
    margin-left: 24px;
}

.date-departure-item {
    background-color: var(--basic-grey);
    width: 346px;
    height: 38px;
    margin: 0; 
    padding-left: 12px;
    margin-left: 21px;
}

.date-arrival-item:hover, 
.date-departure-item:hover, 
.search-item-adults:hover,
.search-item-children:hover {
    background-color: var(--hover-grey);
}

.date-arrival-item:hover, 
.date-departure-item:hover, 
.search-item-adults:hover,
.search-item-children:hover {
    background-color: var(--basic-white);
    border: 2px solid #E5E5E5;
}

.legend-button {
    width: 568px;
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    border:0;
    background-color: var(--brown);
    margin: 0;
    padding: 30px 125px;
  }

.legend-button:hover {
    background-color: var(--hover-brown);
}

.legend-button:focus {
    background-color: var(--focus-brown);
}

.button-submit {
    display: block;
    width: 458px;
    height: 58px;
    margin-top: 54px;
    text-transform: uppercase;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
}

fieldset input {
    font-weight: 700;
    background-color: var(--basic-grey);
    text-transform: uppercase;
    color: var(--black);
    border: none;
}

.search-item:hover,
.search-item:focus  {
    border: 1px solid var(--brown);
}

label {
    font-weight: 700;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    vertical-align: middle;
    background-color: var(--light-blue);
    border: none;
    display: inline-block;
}

.button-submit:hover {
    background-color: var(--hover-blue);
}

.button-submit:focus {
    background-color: var(--focus-blue);
}

.main-footer {
    padding: 28px 0;
    margin: 0;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    margin: 0;
    margin-left: 117px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts p {
    margin: 0;
}

.contacts-social-networks {
    width: 160px;
    justify-self: center;
    text-align: center;
    width: 160px;
}

.contacts-social-networks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 155px;
    margin: 0 auto;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 46px;
    height: 48px;
    background-color: var(--light-blue);
    color: inherit;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:focus {
    background-color: var(--focus-blue);
}

.footer-copyright  {
    text-align: center;
    max-width: 250px;
    padding-right: 103px;
    margin: 0;
}

.html-button:hover {
    fill: var(--light-blue);
}

.footer-copyright span {
    display: inline;
    text-align: center;
    padding-right: 8px;
}

.accomodation {
    display: grid;
    color: var(--basic-white);
    grid-template-columns: 310px 500px 390px;
    align-items: start;
    justify-items: stretch;
    padding: 0;
    margin: 0;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
}

.accomodation ul {
    list-style: none;
    padding: 0;
}

ul.infrastructure  {
    padding-left: 72px;
}

.fieldset-price {
    align-self: right;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 215px;
}

.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-white);
    padding-top: 26px;
}

.range-filter {
    width: 316px;
    margin: 0;
    padding: 0;
    margin-right: 74px;
}

.range-control {
    height: 21px;
    background-color: transparent;
    padding: 0;
    padding-top: 19px;
    position: relative;
}

.range-control .scale {
    width: 316px;
    height: 2px;
    background-color: #CACACA;
}

.range-control .bar {
    height: 2px;
    background-color: var(--basic-white);
    width: 80%;
}

.range-control .toggle {
    position: absolute;
    top: 6px;
    left: 0;
    width: 5px;
    height: 5px;
    padding: 0;
    border: 10px solid var(--basic-white);
    background-color: var(--basic-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ABABAB;
    cursor: pointer;
}

.range-control .toggle-min {
    left: 0;
}

.range-control .toggle-max {
    left: 233px;
}

.price-control input{
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 0;
    font-weight: 400;
    padding: 6px 49px 8px 52px;
    max-width: 59px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}   

button.button-form {
    padding: 8px 35px;
    align-self: center;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-top: 17px;
}

.button-form:hover,
.button-form:focus {
    background-color: var(--basic-white);
    color: var(--black)
}

.accomodation-found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
    align-items: flex-start;
}

.result{
    padding: 0;
    margin: 0 auto;
}

.result li {
    display: inline;
}

.hotels-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 0;
    margin-left: 73px;
    margin-right: 73px;
}

.amara-hotel,
.desert-hotel,
.villas-hotel  {
    display: grid;
    grid-template-columns: 135px 1fr min-content;
    align-content: center;
    align-items: stretch;
    column-gap: 29px;
    padding: 0;
    margin: 0;

}

.press-hotel {
    color: var(--black)
}

.press-hotel:hover {
    color: var(--light-blue);
}

.press-hotel:focus {
    color: var(--black);
    opacity: 0.3;
}


.stars {
    text-align: right;
}

button.more-information {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    padding: 3px 16px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

button.more-information:hover {
    background-color: var(--hover-blue);
}

button.more-information:focus {
    background-color: var(--focus-blue);
}

button.book {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    padding: 3px 16px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

button.book:hover {
    background-color: var(--hover-brown);
}

button.book:focus {
    background-color: var(--focus-brown);
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
    padding: 3px 12px 3px 15px;
    color: var(--rate);
}

.inner-page .main-footer{
    border-top: 1px solid var(--basic-grey);
}