:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --hover-blue: #669EC0;
    --focus-blue: #5496BD;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --focus-brown: #503E33;
    --rate: #666666;
    --hover-brown: #604E43;
    --hover-grey: #EBEBEB;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
    
.main-site-navigation {
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 26px;
    justify-content: space-around;
    background-color: transparent;
    border: 2px solid red;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
    display: block;
}

.main-site-navigation a:hover {
  color: var(--light-blue);
}

.main-site-navigation a:focus {
    color: var(--black);
    opacity: 0.3;
}

.main-site-navigation a:active {
    color: var(--brown);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container { 
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: 2px solid red;
}

.background {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.triangle {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.welcome {
    display: block;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.reasons {
    text-align: center;
    font: inherit;
}

.real-town, .devil-bridge {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    min-height: 256px;
    margin: 0;
}

.town-description, .bridge-description {
    background-color: var(--light-blue);
    color: var(--basic-white);
    text-align: center;
    font: inherit;
    padding: 47px 51px 54px 52px;
    border: 2px solid red;
    width: 400px;
}

.town-photo, .bridge-photo {
    width: 800px;
    border: 2px solid red;
    align-items: stretch;
}

.photo-box {
    background-image: url(img/image1.jpg);
}

.features {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: inherit;
    text-align: center;
    align-items: center;
    min-height: 330px;
    border: 2px solid red;
    margin: 0;
}


.devil-bridge-features {
    background-color: var(--basic-grey);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font: inherit;
    min-height: 256px;
    border: 2px solid red;
    margin: 0;
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.search-box {
    text-align: center;
    line-height: 24px;
    font: inherit;
}

.index-form {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.search-item {
    width: 114px;
    height: 38px;
    background-color: var(--basic-grey);
    padding: 6px 39px 6px 39px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin: 0;  
    margin-bottom: 54px;
}

.date-item {
    width: 346px;
    height: 38px;
    background-color: var(--basic-grey);
    padding: 6px 200px 6px 13px; 
    margin: 0; 
    margin-bottom: 29px; 
}

.date-item:hover, .search-item:hover {
    background-color: var(--hover-grey);
}

.date-item:focus, .search-item:focus {
    background-color: var(--basic-white);
    border: 2px solid #E5E5E5;
}

fieldset legend {
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    background-color: var(--brown);
}

fieldset {
    box-shadow: rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
    border-color: transparent;
}

fieldset input {
    font-weight: 700;
    background-color: var(--basic-grey);
    text-transform: uppercase;
    color: var(--black);
    border: none;
}

.search-item:hover,
.search-item:focus  {
    border: 1px solid var(--brown);
}

label {
    font-weight: 700;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    vertical-align: middle;
    background-color: var(--light-blue);
    border: none;
    display: inline-block;
}

.button-submit:hover {
    background-color: var(--hover-blue);
}

.button-submit:focus {
    background-color: var(--focus-blue);
}

.main-footer {
    padding: 28px 0;
    margin: 0;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid red;
}

.contacts {
    margin: 0;
    margin-left: 117px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts p {
    margin: 0;
}

.contacts-social-networks {
    width: 160px;
    justify-self: center;
    text-align: center;
    width: 160px;
}

.contacts-social-networks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 155px;
    margin: 0 auto;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 46px;
    height: 48px;
    background-color: var(--light-blue);
    color: inherit;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:focus {
    background-color: var(--focus-blue);
}

.footer-copyright  {
    text-align: center;
    max-width: 250px;
    padding-right: 103px;
    margin: 0;
}
  
.footer-copyright .html-button {
    display: inline-block;
}

.footer-copyright span {
    display: inline;
    text-align: center;
    padding-right: 8px;
}


.accomodation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: start;
    border: 2px solid red;
}

.accomodation ul {
    list-style: none;
}

button.button-form {
    padding: 7px 35px 8px 36px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
}

.button-form:hover,
.button-form:focus {
    background-color: var(--basic-white);
    color: var(--black)
}

.accomodation-found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
    align-items: flex-start;
    border: 2px solid red;
}

.result{
    padding: 0;
    margin: 0 auto;
}

.result li {
    display: inline;
}

.hotels-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 0;
    margin-left: 73px;
    margin-right: 73px;
}

.amara-hotel,
.desert-hotel,
.villas-hotel  {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 135px 1fr min-content;
    align-content: center;
    align-items: stretch;
    column-gap: 29px;
    padding: 0;
    margin: 0;

}

.press-hotel {
    color: var(--black)
}

.press-hotel:hover {
    color: var(--light-blue);
}

.press-hotel:focus {
    color: var(--black);
    opacity: 0.3;
}

.photo-hotel {
    border: 2px solid red;
}

.name-hotel {
    border: 2px solid red;
}

.stars {
    text-align: right;
}

.desert-hotel {
    border: 2px solid red;
}

.villas-hotel {
    border: 2px solid red;
}

button.more-information {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    padding: 3px 16px 3px 17px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

button.more-information:hover {
    background-color: var(--hover-blue);
}

button.more-information:focus {
    background-color: var(--focus-blue);
}

button.book {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    padding: 3px 16px 3px 17px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

button.book:hover {
    background-color: var(--hover-brown);
}

button.book:focus {
    background-color: var(--focus-brown);
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
    padding: 3px 12px 3px 15px;
    color: var(--rate);
}

.inner-page .main-footer{
    border-top: 1px solid var(--basic-grey);
}