:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --button: #503E33;
    --rate: #666666;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
    
.main-site-navigation {
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 26px;
    justify-content: space-around;
    background-color: transparent;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
}

.main-site-navigation a:hover,
.main-site-navigation a:focus {
  color: var(--brown);
}

.visually-hidden:not(:focus):not(:active),
    input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container { 
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
}

.background {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.triangle {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.welcome {
    display: block;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.reasons {
    text-align: center;
    font: inherit;
}

.real-town, .devil-bridge {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    height: 256px;
}

.town-description, .bridge-description {
    background-color: var(--light-blue);
    color: var(--basic-white);
    text-align: center;
    font: inherit;
    width: 400px;
    padding: 47px 52px 54px 52px;
}

.town-photo, .bridge-photo {
    padding: 0;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font: inherit;
}


.devil-bridge-features {
    background-color: var(--basic-grey);
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.search-box {
    text-align: center;
    line-height: 24px;
    font: inherit;
}

.index-form {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.search-item {
    width: 114px;
    height: 38px;
    background-color: var(--basic-grey);
    padding: 6px 39px 6px 39px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin: 0;  
    margin-bottom: 54px;
}

.date-item {
    width: 346px;
    height: 38px;
    background-color: var(--basic-grey);
    padding: 6px 200px 6px 13px; 
    margin: 0; 
    margin-bottom: 29px; 
}

fieldset legend {
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    background-color: var(--brown);
}

fieldset {
    box-shadow: rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
    border-color: transparent;
}

fieldset input {
    font-weight: 700;
    background-color: var(--basic-grey);
    text-transform: uppercase;
    color: var(--black);
    border: none;
}

.search-item:hover,
.search-item:focus  {
    border: 1px solid var(--brown);
}

label {
    font-weight: 700;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    vertical-align: middle;
    background-color: var(--light-blue);
    border: none;
    display: inline-block;
}

.main-footer {
    padding: 28px 0;
    margin: 0;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.9);

}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    margin: 0;
    margin-left: 117px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts p {
    margin: 0;
}

.contacts-social-networks {
    width: 160px;
    justify-self: center;
    text-align: center;
    width: 160px;
}

.contacts-social-networks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 155px;
    margin: 0 auto;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--light-blue);
    color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--brown);
}

.footer-copyright  {
    text-align: center;
    max-width: 250px;
    padding-right: 103px;
    margin: 0;
}
  
.footer-copyright .html-button {
    display: inline-block;
}

.footer-copyright span {
    display: inline;
    text-align: center;
    padding-right: 8px;
}

.html-button:hover,
.html-button:focus {
    color: transparent;
    background-color: var(--brown);
}

.accomodation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: start;
}

.accomodation ul {
    list-style: none;
}

button.button-form {
    padding: 7px 35px 8px 36px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
}

.button-form:hover,
.button-form:focus {
    background-color: var(--button);
}

.accomodation-found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.result li{
    display: inline;
}

.dir {
    align-self: end;
}
.hotels-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
}


.hotels-list li {
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-top: 1px solid var(--basic-grey);
}

.amara-hotel, 
.desert-hotel,
.villas-hotel {
    display: grid;
    grid-template-columns: 164px 1fr 183px;
    margin: 0;
    align-items: center;
}


button.more-information {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    padding: 3px 16px 3px 17px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

button.book {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    padding: 3px 16px 3px 17px;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: var(--basic-white)
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
    padding: 3px 12px 3px 15px;
    color: var(--rate);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--button);
}

.inner-page footer{
    border-top: 1px solid var(--basic-grey);
}