:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --hover-blue: #669EC0;
    --focus-blue: #5496BD;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --focus-brown: #503E33;
    --rate: #666666;
    --hover-brown: #604E43;
    --hover-grey: #EBEBEB;
}


body {
    min-width: 1200px;
    margin: 0;
    padding: 0 40px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
   
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.shadow {
    height: 100%;
    box-shadow: inset 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 56px;
    margin: 0;
    margin-left: 72px;
    margin-right: 72px;
    padding: 0;
    list-style: none;
    line-height: 26px;
    justify-content: space-between;
    background-color: transparent;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
    display: block;
    border: 0;
}

.main-site-navigation a:hover {
  color: var(--light-blue);
}

.main-site-navigation a:focus {
    color: var(--black);
    opacity: 0.3;
}

.main-site-navigation a:active {
    color: var(--brown);
}

.navigation-photo {
    margin-right: 282px;
}

.navigation-map {
    margin-right: 14px;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container { 
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}

.sedona {
    position: relative;
    z-index: 2;
}

.logo-sedona {
    position: absolute;
    z-index: 1;
    width: 138px;
    height: 70px;
    margin: 0;
    left: 535px;
}

.relative {
    position: relative;
    z-index: 2;
    width: 100%;
    bottom: 5px;
}


.welcome {
    z-index: 1;
    position: absolute;
    top: 78px;
    left: 370px;
    width: 457px;
    height: 351px;
}


.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    position: relative;
    right: 0;
    margin-top: 35px;
    line-height: 26px;
}

.reasons {
    text-align: center;
    position: relative;
    text-align: center;
    right: 0;
    margin-top: 40px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 50px;
}

.real-town, .devil-bridge {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    height: 256px;
    margin: 0;
}

.town-description, .bridge-description {
    background-color: var(--light-blue);
    text-align: center;
    color: var(--basic-white);
    font: inherit;
    padding: 0;
    padding-top: 40px;
    width: 400px;
    margin:0;
}

.town-photo, .bridge-photo {
    width: 800px;
    align-items: stretch;
}

.bridge-photo {
    order: -1;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: inherit;
    text-align: center;
    align-items: center;
    min-height: 330px;
    margin: 0;
    margin-left: 35px;
    margin-right: 40px;
}


.devil-bridge-features {
    background-color: var(--basic-grey);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font: inherit;
    min-height: 256px;
    margin: 0;
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.interested-box {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 44px;
    min-height: 767px;
}

.search-box {
    text-align: center;
    margin-bottom: 40px;
}

.search-sedona {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 568px; 
}

.legend-button {
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--brown);
    padding: 30px 125px;
    width: 100%;
    border: 0;
  }

.legend-button:hover {
    background-color: var(--hover-brown);
}

.legend-button:focus {
    background-color: var(--focus-brown);
}

.index-form {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    align-items: center;
    height: 395px;
}

.index-form input{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--basic-grey);
    padding: 0;
    border-color: transparent;
}

.fieldset-search {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 51px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
    border: 0;
}

.arrival-date,
.departure-date {
    width: 458px;
    margin-top: 0;
    margin-bottom: 23px;
    padding-left: 55px;
}

.arrival-date label {
    margin-right: 20px;
}

.departure-date label {
    margin-right: 18px;
} 

.arrival-date input,
.departure-date input  {
    width: 328px;
    height: 38px;
    padding-left: 12px;
}

.people {
    display: flex;
    width: 458px;
    padding-left: 55px;
    margin-bottom: 50px;
}

.search-item-adults input,
.search-item-children input {
    width: 114px;
    height: 38px;
    color: var(--black);
    text-align: center;
}

.search-item-adults label {
    margin-right: 38px;
}

.search-item-children label {
    margin-left: 53px;
    margin-right: 12px;
}

.date-departure-item::placeholder,
.date-arrival-item::placeholder,
.search-item-children input::placeholder,
.search-item-adults input::placeholder {
    color: var(--black);
}

.date-arrival-item:hover, 
.date-departure-item:hover, 
.search-item-adults input:hover,
.search-item-children input:hover {
    background-color: #EBEBEB;
    border-color: transparent;
}

.date-arrival-item:focus, 
.date-departure-item:focus, 
.search-item-adults:focus,
.search-item-children:focus {
    background-color: var(--basic-white);
    border-color: solid #E5E5E5;
}

.date-arrival-item {
    background-image: url("/img/calendar.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
}

.date-departure-item {
    background-image: url("/img/calendar.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 23px;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    background-color: var(--light-blue);
    border-color: transparent;
    width: 458px;
    height: 58px;
    display: block;
    text-transform: uppercase;
    margin-left: 55px;
    margin-bottom: 55px;
}

.button-submit:hover {
    background-color: var(--hover-blue);
    border-color: transparent;
}

.button-submit:focus {
    background-color: var(--focus-blue);
    border-color: transparent;
}

.map {
    position: absolute;
    z-index: 2;
}

iframe {
    border: none;
}
.main-footer {
    padding: 28px 0;
    margin: 0;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.9);
     
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts-social-networks {
    width: 160px;
    justify-self: center;
    text-align: center;
    width: 160px;
}

.contacts-social-networks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 155px;
    margin: 0 auto;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 46px;
    height: 48px;
    background-color: var(--light-blue);
    color: inherit;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:focus {
    background-color: var(--focus-blue);
}

.footer-copyright  {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 250px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    margin-left: 65px;

}

.html-button {
    padding-left: 8px;
}
.html-button:hover {
    fill: var(--light-blue);
}

.visit-sedona {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 36px;
}

h4 {
    font-size: 16px;
    line-height: 21px;
}
.accomodation {
    display: flex;
    flex-wrap: wrap;
    color: var(--basic-white);
    padding: 0;
    margin: 0;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 217px;
}

.infrastructure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    line-height: 21px;
    font-size: 14px;
    list-style: none;
    margin-left: 72px;
}


.home-type {
    list-style: none;
    line-height: 21px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-left: 120px;
}

.infrastructure li {
    margin-bottom: 30px;
    align-items: center;
    position: relative;
}

.home-type li {
    margin-bottom: 30px;
    align-items: center;
    position: relative;
}

.checkbox input {
    width: 23px;
    height: 23px;
    position: absolute;
}

.checkbox label {
    margin-left: 45px;
    text-align: center;
}

.fieldset-price {
    margin-left: 340px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 215px;
}

.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-white);
    padding-top: 26px;
}

.range-filter {
    width: 316px;
    margin: 0;
    padding: 0;
    margin-right: 74px;
}

.range-control {
    height: 21px;
    background-color: transparent;
    padding: 0;
    padding-top: 19px;
    position: relative;
}

.range-control .scale {
    width: 316px;
    height: 2px;
    background-color: #CACACA;
}

.range-control .bar {
    height: 2px;
    background-color: var(--basic-white);
    width: 80%;
}

.range-control .toggle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ABABAB;
    cursor: pointer;
}

.range-control .toggle-min {
    left: 0;
}

.range-control .toggle-max {
    left: 230px;
}

.toggle:hover {
    width: 6px;
    height: 6px;
}
.price-control input{
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 0;
    font-weight: 400;
    padding: 6px 49px 8px 52px;
    max-width: 59px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}   

button.button-form {
    padding: 8px 35px 7px 36px;
    align-self: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: transparent;
    border: 2px solid var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-top: 14px;
    margin-left: 85px;
    width: 137px;
    
}

.button-form:hover,
.button-form:focus {
    background-color: var(--basic-white);
    color: var(--black)
}

.accomodation-found {
    display: grid;
    grid-template-columns: 230px 86px 330px 550px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--basic-grey);
    max-height: 85px;
}

.result {
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding-left: 30px;

}

.result a {
    color: var(--black);
    opacity: 0.3;
    border-bottom: 1px solid var(--light-blue);
    border-bottom-style: dashed;
}
 .result a:hover {
    color: var(--light-blue);
}

.result a:focus {
    color: var(--black);
    border: 0;
}

.result a:active {
    color: var(--light-blue);
    border: 0;
}

.bold {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-left: 29px;
    padding: 0;
}

.sort {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 35px;
}

.dir {
    text-align: end;
    padding: 0;
    margin: 0;
    padding-right: 70px;
}

.dir a:active {
    color: var(--light-blue);
}

.icon-up-dir { 
    margin-right: 12px;
}

.hotels-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 0;
    margin-left: 73px;
    margin-right: 73px;
}

.hotels-list {
    margin: 0;
}

.amara-hotel,
.desert-hotel,
.villas-hotel  {
    display: grid;
    grid-template-columns: 135px 1fr min-content;
    align-items: center;
    column-gap: 29px;
    max-height: 150px;
    border-bottom: 1px solid var(--basic-grey);
    padding: 0;
    margin: 0;
    padding-left: 73px;
    padding-top: 20px;
}

.hotel-head {
    margin: 0;
}

.press-hotel {
    color: var(--black)
}

.press-hotel:hover {
    color: var(--light-blue);
}

.press-hotel:focus {
    color: var(--black);
    opacity: 0.3;
}

.type-hotel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 230px;
    align-items: start;
}

.stars {
    text-align: right;
    padding: 0;
    margin-right: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


button.more-information {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    padding: 6px 16px;
    color: var(--basic-white);
    width: 110px;
}

button.more-information:hover {
    background-color: var(--hover-blue);
}

button.more-information:focus {
    background-color: var(--focus-blue);
}

button.book {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    padding: 6px 16px;
    margin-left: 0;
    margin-right: 6px;
    margin-bottom: 30px;
    width: 142px;
    color: var(--basic-white)
}

button.book:hover {
    background-color: var(--hover-brown);
}

button.book:focus {
    background-color: var(--focus-brown);
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
    padding: 3px 12px 3px 15px;
    color: var(--rate);
    margin-bottom: 30px;
}

.inner-page .main-footer{
    border-top: 1px solid var(--basic-grey);
}