:root {
    --black: #000000;
    --light-blue: #81B3D2;
    --basic-white: #FFFFFF;
    --brown: #766357;
    --basic-grey: #EEEEEE;
    --button: #503E33;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-white);
  
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
    
.main-site-navigation {
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 26px;
    justify-content: space-around;
    background-color: transparent;
}

.main-site-navigation a {
    color: var(--black);
    font-weight: 700;
}

.main-site-navigation a:hover,
.main-site-navigation a:focus {
  color: var(--brown);
}

.visually-hidden {
    visibility: hidden;
}

.container { 
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
}

.background {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.triangle {
    padding: 0;
    margin: 0 auto;
    min-width: 1200px;
}

.welcome {
    display: block;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

.intro {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.reasons {
    text-align: center;
    font: inherit;
}

.real-town, .devil-bridge {
    background-color: var(--light-blue);
    color: var(--basic-white);
    text-align: center;
    font: inherit;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font: inherit;
}


.devil-bridge-features {
    background-color: var(--basic-grey);
}

h2 {
    font-size: 21px;
    line-height: 21px;

}
h3.interested{
    font-size: 30px;
    text-align: center;
}

.search-box {
    text-align: center;
    line-height: 24px;
    font: inherit;
}

fieldset legend {
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    background-color: var(--brown);
}

fieldset {
    box-shadow: rgba(0, 1, 1, 0.15);
    background: var(--basic-white);
    border-color: transparent;
}

fieldset input {
    font-weight: 700;
    background-color: var(--basic-grey);
    text-transform: uppercase;
    color: var(--black);
    border: none;
}

.search-item:hover,
.search-item:focus  {
    border: 1px solid var(--brown);
}

label {
    font-weight: 700;
}

.button-submit {
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    vertical-align: middle;
    background-color: var(--light-blue);
    border: none;
    display: inline-block;
}

.main-footer {
    padding: 28px 0;
    margin: 0;
    color: var(--black);
    background-color: transparent;

}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    margin: 0;
    margin-left: 117px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts p {
    margin: 0;
}

.contacts-social-networks {
    margin: 0;
    padding: 0;
    justify-self: center;
    text-align: center;

}

.contacts-social-networks {
    width: 155px;
    justify-self: center;
    text-align: center;
}

.contacts-social-networks ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-networks-icons {
    background-color: var(--black);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--brown);
}

.footer-copyright  {
    font: inherit;
    max-width: 150px;
    margin: 0;
    margin-right: 100px;
    text-align: center;
}

.infrastructure li, 
.type li {
    font: inherit;
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    
}

.hotels h2 {
    font-size: 21px;
    line-height: 26px;
}

button.more-information {
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--light-blue);
    border: none;
    color: var(--basic-white)
}

button.book {
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--brown);
    border: none;
    color: var(--basic-white)
}

.rate {
    background-color: var(--basic-grey);
    font: inherit;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--button);
}